
body {
  background: #bafff8;
  font-family: Questrial;
  font-size: 20px;
  color: #444;
}

.jumbotron {
  background-color: #101918;
  color: #FFF;
}

.img-thumbnail {
  padding: 200px;
}

.panel {
  margin-top: 20px;
}

.card {
  margin: 10px;
  border-color: black;
  border-width: 5px;
  border-radius: 5px;
}
