body {
  background: #bafff8;
  font-family: Muli;
  font-size: 20px;
  color: #444;
}

.jumbotron {
  background-color: #101918;
  color: #FFF;
}

.img-thumbnail {
  padding: 200px;
}

.panel {
  margin-top: 20px;
}

.li {
  margin: 10px;
}

.radio-inline {
  margin-right: 30px;
  padding-bottom: 30px;
  font-size: 20px;
}

.well{
  padding: 30px;
}
