
body {
  background: #bafff8;
  font-family: Questrial;
  font-size: 20px;
  color: #444;
}

.jumbotron {
  background-color: #101918;
  color: #FFF;
}

.title {
  text-align: center;
}

.margin-top {
  margin-top: 50px;
}

.img-thumbnail {
  padding: 20px;
  border-color: black;
  border-width: 10px;
  border-top-left-radius: 100px;
  border-top-left-radius: 5px;
  height:auto;
  width:auto;
}

.img-bookmark {
  position: relative;
}

.panel {
  margin-top: 20px;
}

.card {
  margin: 10px;
  border-color: #effffd;
  border-width: 3px;
  border-radius: 25px;
}

.bookmarktxt {
    background: none repeat scroll 0 0;
    color: #FFF;
    top: 0;
    left: 0;
    text-align: center;
    position: absolute;
}
